<h2>Login</h2>
<div class="form-group">

  <form action=" /auth/login" method="POST" id="form-container">

    <input id="username" type="text" name="username" placeholder="JonSnow">
    <p><label for="username">Username</label></p>

    <input id="password" type="password" name="password" placeholder="Your password">
    <p> <label for="password">Password</label></p>

    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}


    <button>Login</button>

    <p class="account-message">
      Don't have an account yet?
      <a href="/auth/signup">Signup</a>
    </p>
</div>