<h2>Signup</h2>

<div class="form-group">
  <form action=" /auth/signup" method="POST" id="form-container">

    <input id="username" type="text" name="username" placeholder="JonSnow">
    <p><label for="username">Username</label></p>

    <input id="password" type="password" name="password" placeholder="Your password">
    <p><label for="password">Password</label></p>

    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <button>Create account</button>

    <p class="account-message">
      Do you already have an account?
      <a href="/auth/login">Login</a>
    </p>
</div>