<div class="form-group">
  <div class="login-signup-container">
    <div>
      <h2>Signup</h2>
    </div>

    <div>
      <form class="login-signup-form form-group" action=" /auth/signup" method="POST" id="form-container">

        <input id="username" type="text" name="username" placeholder="JonSnow">
        <p><label for="username"></label></p>

        <input id="password" type="password" name="password" placeholder="Your password">
        <p><label for="password"></label></p>

        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <button class="btn btn-outline-dark">Create account</button>
      </form>
      <div>
        <p class="account-message">
          Do you already have an account?
          <a class="signup-login-link" href="/auth/login">Login</a>
        </p>
      </div>
    </div>
  </div>
</div>