<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id='map' style='width: 400px; height: 300px;'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibWFyY2VsLXJpZWsiLCJhIjoiY2s2Z2I2cmh1MHl6NjNrbnZrcmQzYzhwNSJ9.8jZILUGNNYa7_4ALS-OTdQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11'
    });
</script>