<html>

<head>
    <meta charset=utf-8 />
    <title>Turf.js Map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <!-- Latest compiled and minified CSS -->
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAc1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script> --}}

    <script src='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css' rel='stylesheet' />
    {{!-- <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script> --}}

    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #b1eCED;
        }

        #map {
            position: absolute;
            top: 150px;
            bottom: 50px;
            width: 100%
        }
    </style>
</head>

<body>
    <div id='map'></div>
    <script>

        var tableTest = {{{ tableTest }}};
        console.log("TABLE LOCATION", tableTest)
        L.mapbox.accessToken = 'pk.eyJ1IjoibWFydGluc2NobWFsIiwiYSI6ImNrNmdieXk3YjAybmczb3A4cHUzc3hwMW8ifQ.HJsmN70OKsx6AWO-t2056Q';
        var tableLocation = {{{ tableLocation }}};
        console.log("TABLE LOCATION", tableLocation)

        var map = L.mapbox.map('map')
            .setView([52.514249094437, 13.407998085021], 12)
            .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/light-v10'));
        map.scrollWheelZoom.disable();

        var tableLayer = L.mapbox.featureLayer(tableLocation)
            .addTo(map);
        //console.log(layer.feature.properties.Name);
        //map.fitBounds(tableLayer.getBounds());

        // Bind a popup to each feature in tableLayer and libraryLayer

        tableTest.forEach(el => {
            tableLayer.eachLayer(function (layer) {
                layer.bindPopup(`<strong>
                ${layer.feature.properties.Name}
                <p><a href=/tables/${el._id}> <button type="button" class="btn btn-secondary">Info</button></a >
        <button type="button" class="btn btn-success">Check-in</button></p > '
                </strong >`, { closeButton: true });
            })
        })

        // Open popups on hover
        tableLayer.on('mouseover', function (e) {
            e.layer.openPopup();
        });

        // Reset marker size to small
        function reset() {
            var tableFeatures = tableLayer.getGeoJSON();
            for (var k = 0; k < tableFeatures.features.length; k++) {
                tableFeatures.features[k].properties['marker-size'] = 'small';
            }
            tableLayer.setGeoJSON(tableFeatures);
        }

        // When the map is clicked on anywhere, reset all markers to small
        map.on('click', function (e) {
            reset();
        });

    </script>


</body>

</html>