<h2>{{userList.username}} played {{userList.tables_played}} tables.</h2>
<div>
  <div>
    <p>registered email: {{userList.email}}</p>
  </div>

  <div>

    <p><a href="/profile/edit"> <button type="button" class="btn btn-dark">Edit my profile </button></a></p>
    <p><a href="/profile/delete"> <button type="button" class="btn btn-outline-dark">Delete my Account</button></a></p>


  </div>

  <div class="profilepicture">
    <img src="{{userList.profilepicture}}" alt="">
  </div>
</div>