<div class="form-group">

  <div class="table-container">

    <div>
      <h3>Add a new ping pong table</h3>

      <p>Click the button to get your coordinates.</p>
    </div>


    <div class="form-group">
      <button class="btn btn-dark" onclick="getLocation()">Use current position</button>

      <p id="demo"></p>

      <form class="form-group" action="/tables/new" method="POST">


        <input type="text" name="location" id="location" placeholder="Location">
        <p><label for="location"></label></p>

        <input type="text" name="neighbourhood" id="neighbourhood" placeholder="Neighbourhood">
        <p><label for="neighbourhood"></label></p>

        <input type="text" name="lat" id="lat" placeholder="Latitude">
        <p><label for="latitude"></label></p>

        <input type="text" name="lng" id="lng" placeholder="Longitude">
        <p><label for="longitude"></label></p>

        <input type="text" name="description" id="description" placeholder="Description">
        <p><label for="description"></label></p>

        <p><input type="checkbox" name="public" id="public" checked>
          <label class="checkbox-item" for="public">Public</label></p>

        <p><input type="checkbox" name="park" id="park">
          <label class="checkbox-item" for="park">Park</label></p>

        <p><input type="checkbox" name="playground" id="playground">
          <label class="checkbox-item" for="playground">Playground</label></p>

        <p><input type="checkbox" name="indoor" id="indoor">
          <label class="checkbox-item" for="indoor">Indoor</label></p>

        <p><input type="checkbox" name="bar" id="bar">
          <label class="checkbox-item" for="bar">Bar</label></p>

        <p><input type="checkbox" name="light" id="light">
          <label class="checkbox-item" for="lights">Lights available</label></p>

        <p><select name="condition" id="condition">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option selected="selected" value="5">5</option>
          </select>
          <label for="condition">General condition (1 = poor, 5 = great)</label></p>

        {{!-- <p><label for="table_image">Add image</label></p>
    <input type="text" name="table_image" id="table_image"> --}}


        <button class="btn btn-dark" type="submit">Add this table</button>
      </form>
    </div>
  </div>

  <script>
    var x = document.getElementById("demo");

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    function showPosition(position) {
      document.getElementById("lng").value = position.coords.longitude;
      document.getElementById("lat").value = position.coords.latitude;
    }
  </script>
</div>