<h2>Add a new ping pong table</h2>

<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Display my coordinates</button>

<p id="demo"></p>

<script>
  var x = document.getElementById("demo");

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
      "<br>Longitude: " + position.coords.longitude;
  }
</script>

<div class="form-group">

  <form action="/tables/new" method="POST">
    <p><label for="location">Location city</label></p>
    <input type="text" name="location" id="location">
    <p><label for="neighbourhood">Neighbourhood</label></p>
    <input type="text" name="neighbourhood" id="neighbourhood">
    <p><label for="coordinates">Latitude</label></p>
    <input type="text" name="coordinates" id="coordinates">
    <p><label for="coordinates">Longitude</label></p>

    <input type="text" name="coordinates" id="coordinates">

    <p><label for="description">Description</label></p>
    <input type="text" name="description" id="description">
    <p><label for="public">Public</label></p>
    <input type="checkbox" name="public" id="public" checked>
    <p><label for="park">Park</label></p>
    <input type="checkbox" name="park" id="park">
    <p><label for="playground">Playground</label></p>
    <input type="checkbox" name="playground" id="playground">
    <p><label for="indoor">Indoor</label></p>
    <input type="checkbox" name="indoor" id="indoor">
    <p><label for="bar">Bar</label></p>
    <input type="checkbox" name="bar" id="bar">
    <p><label for="lights">Lights available</label></p>
    <input type="checkbox" name="light" id="light">
    <p><label for="condition">General condition (1 = poor, 5 = great)</label></p>
    <select name="condition" id="condition">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option selected="selected" value="5">5</option>
    </select>

    <p><label for="table_image">Add image</label></p>
    <input type="text" name="table_image" id="table_image">


    <button type="submit">Add this table</button>
  </form>

</div>