<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id='map' style='width: 400px; height: 300px;'></div>
<script>
    mapboxgl.accessToken = MAPBOX-TOKEN;
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11'
    });
</script>